.App-bodyl {
  background-color: #91eeff;
  height: 42vw;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

.App-bodyl h2 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5vw;
  -webkit-text-stroke: 0.5px #1a8100;
  background-color: #91eeff;
  padding-right: 20vw;
  padding-left: 37vw;
  padding-top: 5vw;
}

.App-bodyl .image {
  width: 53vw;
  position: absolute;
  top: 10vw;
  right: 4vw;
  border-radius: 2%;
}

.containerl {
  background-color: #91eeff;
  width: 30vw;
  height: 13vw;
  margin-top: 5vw;
  margin-left: auto;
  margin-right:auto;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 1em;
}

.containerl form {
  background-color: #91eeff;
  margin: 0 auto;
  width: 27vw;
  height: 6vw;
  padding: 1em;
}

.containerl label {
  background-color: #91eeff;
  display: inline-block;
  width: 13vw;
  font: 1.2vw sans-serif;
  text-align: right;
}

.containerl ul {
  background-color: #91eeff;
  list-style: none;
  padding: 0;
  margin: 0;
}

.containerl li {
  background-color: #91eeff;
  margin-top: 1vw;
}
.containerl input {
  background-color: #ffffff;
  font: 1.1vw sans-serif;
  width: 10vw;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #999;
}

.containerl .btn {
  background-color: #91eeff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2.5vw;
}
.containerl .btn-right {
  margin-left: 8vw;
}
.containerl .btn-right2 {
  margin-left: 1.5vw;
}

.App-bodyl h1 {
  display: flex;
  padding-right: auto;
  padding-left: auto;
  justify-content:center;
  color: #ffffff;
  font-size: calc(3vw);
  background-image: linear-gradient(
    135deg,
    #00c3ff,
    #004f6e,
    #005320,
    #1a8100,
    #005320,
    #004f6e,
    #00c3ff
  );
  background-size: 500%;
  animation: fondo_animado 13s infinite;
}

@keyframes fondo_animado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
