.App-body {
  background-color: #91eeff;
  height: 42vw;
}

.App-body h2 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw;
  background-color: #91eeff;
  padding-right: 20vw;
  padding-left: 29vw;
  padding-top: 2vw;
}

.App-body .image {
  width: 53vw;
  position: absolute;
  top: 10vw;
  right: 4vw;
  border-radius: 2%;
}

.container {
  background-color: #91eeff;
  width: 29vw;
  height: 28.5vw;
  margin-top: 2vw;
  margin-left: 34vw;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 1em;
}

.container form {
  background-color: #91eeff;
  margin: 0 auto;
  width: 27vw;
  height: 18vw;
  padding: 1em;
}

.container label {
  background-color: #91eeff;
  display: inline-block;
  width: 13vw;
  font: 1.2vw sans-serif;
  text-align: right;
}

.container ul {
  background-color: #91eeff;
  list-style: none;
  padding: 0;
  margin: 0;
}

.container li {
  background-color: #91eeff;
  margin-top: 1vw;
}
.container input {
  background-color: #ffffff;
  font: 1.1vw sans-serif;
  width: 10vw;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #999;
}

.container .btn {
  background-color: #91eeff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 7vw;
}
.container .btn-right {
  background-color: #28c900;
  font: 1vw sans-serif;
  width: 5vw;
  height: 2.5vw;
  border-radius: 7px;
  margin-left: 50%;
}

.container .btn-left {
  background-color: #1a8100;
  font: 1vw sans-serif;
  width: 5vw;
  height: 2vw;
  border-radius: 7px;
  margin-left: 8%;
}

.App-body h1 {
  padding-left: 40vw;
  color: #ffffff;
  font-size: calc(3vw);
  background-image: linear-gradient(
    135deg,
    #00c3ff,
    #004f6e,
    #005320,
    #1a8100,
    #005320,
    #004f6e,
    #00c3ff
  );
  background-size: 500%;
  animation: fondo_animado 13s infinite;
}

@keyframes fondo_animado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
