.App-header-T {
  background-color: #042a44;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: calc(10px + 2vmin);
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  height: 7vh;
}

.App-header-T .link-T {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  margin-right: 2vw;
  margin-left: 1vw;
}

.App-body-T {
  background-color: #91eeff;
  height: 42vw;
}

.App-body-T h2 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5vw;
  -webkit-text-stroke: 0.5px #1a8100;
  background-color: #91eeff;
  padding-right: 20vw;
  padding-left: 30vw;
  padding-top: 1vw;
}

.container-T {
  background-color: #91eeff;
  width: 29vw;
  height: 20vw;
  margin-top: 0.8vw;
  margin-left: 34vw;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 1em;
}

.subtitle {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  -webkit-text-stroke: 0.5px #1a8100;
  background-color: #91eeff;
  padding-left: 2.5vw;
  margin-top: 1vw;
}

.container-T form {
  background-color: #91eeff;
  margin: 0 auto;
  width: 27vw;
  height: 8.8vw;
  padding: 1em;
  padding-top: 0.5vw;
}

.container-T form h3{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2vw;
  padding-left: 1vw;
  padding-bottom: 0.5vw;

}

.container-T label {
  background-color: #91eeff;
  width: 13vw;
  font: 1.1vw sans-serif;
  text-align: right;
  display: inline-block;
  margin-right: 1vw;
}

.container-T ul {
  background-color: #91eeff;
  list-style: none;
}

.container-T li {
  background-color: #91eeff;
  margin-top: 0.5vw;
}
.container-T input {
  background-color: #ffffff;
  font: 1.1vw sans-serif;
  width: 10vw;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #999;
}

.container-T .btn {
  background-color: #91eeff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5vw;
}
.container-T .btn-R {
  font: 1vw sans-serif;
  margin-left: 37%;
}

.App-body-T h1 {
  padding-left: 40vw;
  color: #ffffff;
  font-size: calc(3vw);
  background-image: linear-gradient(
    135deg,
    #00c3ff,
    #004f6e,
    #005320,
    #1a8100,
    #005320,
    #004f6e,
    #00c3ff
  );
  background-size: 500%;
  animation: fondo_animado 13s infinite;
}

@keyframes fondo_animado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
