.App-header button {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.9vh;
  margin-right: 1vw;
}

.App-bodyu {
  background-color: #83ecff;
  height: 42vw;
}

.App-bodyu .image {
  width: 53vw;
  position: absolute;
  top: 10vw;
  right: 4vw;
  border-radius: 2%;
}

.transactions{
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  background-color: #41be98;
}
.transactions .link{
  margin-left: 17.5vw;
  font-size: 1.2vw;
}

.containeru {
  background-color: #83ecff;
  width: 83%;
  height: 34vw;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  margin-top: 0vw;
}

.containeru .container-left {
  background-color: #83ecff;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  font: 1.3vw sans-serif;
  width: 55%;
  padding: 1em;
}

.container-left h2 {
  color: #8be2c8;
  margin-left: 0;
  margin-top: 0.5em;
  background-color: #83ecff;
  font: 2.5vw sans-serif;
  -webkit-text-stroke: 1px #1a8100;
}
.container-left h3 {
  color: #1a8100;
  font: 1.7vw sans-serif;
  margin-left: 0.7em;
  margin-top: 1em;
  margin-bottom: 0em;
  background-color: #83ecff;
}
.container-left p {
  color: rgb(0, 0, 0);
  margin-left: 1em;
  margin-top: 1em;
  font: 1.2vw sans-serif;
  font-weight: bold;
  background-color: #83ecff;
}

.containeru .container-right {
  background-color: #83ecff;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 1em;
  font: 1.3vw sans-serif;
  text-align: right;
}

.container-right h2 {
  color: #8be2c8;
  margin-left: 0;
  margin-top: 0.5em;
  background-color: #83ecff;
  font: 2.5vw sans-serif;
  -webkit-text-stroke: 1px #1a8100;
}
.container-right h3 {
  color: #1a8100;
  font: 1.7vw sans-serif;
  margin-left: 0.7em;
  margin-top: 1em;
  margin-bottom: 0em;
  background-color: #83ecff;
}
.container-right p {
  color: rgb(0, 0, 0);
  margin-left: 1em;
  margin-top: 1em;
  font: 1.2vw sans-serif;
  font-weight: bold;
  background-color: #83ecff;
}
.App-bodyu h1 {
  padding-left: 37%;
  color: #ffffff;
  font-size: calc(3vw);
  background-image: linear-gradient(
    135deg,
    #00c3ff,
    #004f6e,
    #005320,
    #1a8100,
    #005320,
    #004f6e,
    #00c3ff
  );
  background-size: 500%;
  animation: fondo_animado 13s infinite;
}

@keyframes fondo_animado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
